@charset "utf-8";
/* CSS Document */

.mainform1{ 
    width:700px;
    height:1600px;
    color:white;
    font-size:25px;
    margin:0px 50px 100px 300px;
    padding:50px 100px 50px 100px;
    background-color:rgba(43,43,43,0.70)
}

.list{
    width:400px;
    height:40px;
    font-size:20px;
}

.reset{
    width:80px;
    text-align:center;
    margin-left:50px;
}

.except2{
    margin-right:150px;
}

.suggestion{
    width:400px;
    height:200px;
}

.submit{
    width:250px;
    height:50px;
    font-size:15px;
    letter-spacing:1px;
    margin-left:250px;
    background-color:orange;
}

.user-agreement{
    color:white;
}